*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.clr{
    clear: both;
}
.containar{
    width:1170px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.mx{
    margin-left: 30px;
    margin-right: 30px;
}
/*==nav part goes here==*/
.logo{
    width: 270px;
    float: left;
}
.manu {
    width: 900px;
    float: left;
    text-align: right;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.44);
}
.logo img{
    padding-top: 33px;
}
.manu ul li {
    display: inline-block;
    padding-left: 44px;
}
.manu ul li a {
    line-height: 90px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #f5f5f5;
    text-transform: uppercase;
    transition: all linear .3s;
}
.manu ul li a:hover {
    color: #28b8d8;
}
/*==nav part end==*/
/*==banner part goes here==*/
#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 232px;
    padding-bottom: 253px;
}
.banner-text {
    text-align: center;
}
.banner-text h1 {
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.banner-text h2 {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 18px;

}
.banner-text p {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Slab', serif; 
}
/*==banner part end==*/
/*==intro part goes here==*/
#intro{
    padding-top: 80px;
    padding-bottom: 80px;
}
.intro-text {
    text-align: center;

}
.intro-text h3 {
    color: #444;
    font-size: 33px;
    font-family: 'Roboto Slab', serif; 
    font-weight: 300;
    padding-bottom: 28px;
}
.intro-text p {
    color: #666;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight:400;
}

/*==intro part end==*/
/*==service part goes here==*/
#service{
    padding-bottom: 84px;
}
.headline{
    text-align: center;
    padding-bottom: 30px;
}
.headline h2 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
}
.service-item {
    width: 370px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    text-align: center;
    float: left;
}
.service-item h3 {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 13px;
    padding-top: 25px;

}
.service-item p {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 30px;
}
/*==service part end==*/
/*==gallery part goes here==*/
#gallery{
    background-color: #2c2c2c;
    padding-top: 50px;
    padding-bottom: 50px;

}
#gallery .headline h2 {
    color: #d5d5d5;
    position: relative;
    display: inline-block;
}
#gallery .headline h2::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #535353;
    left: -100px;
    top: 50%;
    transform: translate(-50%);
}
#gallery .headline h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #535353;
    right: -197px;
    top: 50%;
    transform: translate(-50%);
}
.gallery-item{
    width: 25%;
    float: left;
}
.bottom{
    text-align: center;
    padding-top: 76px;
}
.bottom a {
    border: 1px solid #797979;
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px 20px;
}
.bottom a i{
    padding-right: 10px;
}
/*==gallery part end==*/
/*==journal part goes here==*/
#journal{
    padding-top: 79px;
    padding-bottom: 79px;
}
#journal .headline h2 {
    color: #444;
    position: relative;
    display: inline-block;
}
#journal .headline h2::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #535353;
    left: -100px;
    top: 50%;
    transform: translate(-50%);
}
#journal .headline h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #535353;
    right: -197px;
    top: 50%;
    transform: translate(-50%);
}
.bolog-item {
    width: 370px;
    float: left;
    border: 1px solid #e3e3e3;
}
.bolog-head{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 22px;
}
.bolog-head h3{
    font-size: 16px;
    color: #444;
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 13px;
}
.bolog-head p {
    font-size: 12px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.bolog-bottom {
    width: 370px;
    float: left;
    border: 1px solid #e3e3e3;
    padding: 25px;
}
.bolog-bottom p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    padding-bottom: 25px;
}
.bolog-bottom a {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #28b8d8;
    padding-bottom: 5px; 
}
.bolog-bottom a span {
    float: right;
}
/*==journal part end==*/
/*==littrle part goes here==*/
#little {
    padding-bottom: 81px;
}
.little-left{
    width: 570px;
    float: left;
    margin-right: 30px;
}
.little-right{
    width: 570px;
    float: left;
}
#little .headline{
    text-align: left;
}
#little .headline h2 {
    color: #444;
    position: relative;
    display: inline-block;
}
#little .headline h2::before{
    display: none;
}
#little .headline h2::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background-color: #d9d9d9;
    right: -167px;
    top: 50%;
    transform: translate(-50%);
}
.little-img{
    width: 196px;
    margin-right: 27px;
    float: left;
}
.little-text {
    width: 347px;
    float: left;
}
.little-text h5 {
    font-size: 18px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 17px;
}
.little-text p {
    font-size: 14px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.service-icon{
    width: 50px;
    float: left;
    margin-right: 20px;
}
.sevice-icon a {
    width: 50px;
    margin-right: 18px;
    text-align: center;
    float: left;
}
.service-text {
    width: 500px;
    float: left;
}
.service-text h3{
    font-size: 17px;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 14px;
}
.service-text p {
    font-size: 14px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
}
.little-right-main {
    padding-bottom: 27px;
}
/*==littrle part end==*/
/*==contract part goes here==*/
#contract {
    width: 100%;
    background-color: #373737;
    padding-top: 70px;
    padding-bottom: 70px;
}
.contract{
    width: 289px;
    float: left;
}
.contract h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #f0f0f0;
    padding-bottom: 26px;
}
.contract p {
    padding-bottom: 35px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    line-height: 24px;
}
.contract .location1{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    font-weight: 400;
    padding-bottom: 14px;
}
.contract .location2{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    font-weight: 400;
    padding-bottom: 14px;
}
.contract .location3{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    font-weight: 400;
    padding-bottom: 14px;
}
.contract .location1 a {
    color: #cacaca;
    margin-right: 10px;
}
.contract .location2 a {
    color: #cacaca;
    margin-right: 10px;
}
.contract .location3 a {
    color: #cacaca;
    margin-right: 10px;
}
.twittar{
    width: 243px;
    float: left;
}
.twittar h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #f0f0f0;
    padding-bottom: 25px;
}
.twittar p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    padding-bottom: 30px;
    line-height: 24px; 
}
.twittar.twittar2 p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    padding-bottom: 30px;
    line-height: 24px;
}
.twittar.twittar3 p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    line-height: 24px;
}
.twittar{
    margin-left: 50px;
}
/*==contract part end==*/
/*==copy right part end==*/
#copy-right{
    background-color: #282828;
    width: 100%;
}
.copy h3{
    line-height: 80px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
}
/*==copy right part end==*/